/* Общие стили */
.Q_LogoImage {
  display: block;
  width: 19.03rem;
  height: auto;
}

.Q_SearchIcon {
  display: block;
  width: 17rem;
  height: auto;
}
.Q_IconSearchClose {
  display: block;
  width: 30rem;
  height: auto;
}

.Q_SearchArrow {
  width: 30rem;
  height: 30rem;
  background-image: url("../../images/icons/Q_Icon_Arrow-White.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Q_Highlight {
  color: var(--color-text);
}

.Q_TagIconImg {
  display: block;
  width: 30rem;
  height: 30rem;
}

.Q_TagIcon-Social-Network {
  display: block;
  width: 38rem;
  height: auto;
}

.Q_ButtonIcon {
  display: block;
  width: 44rem;
  height: auto;
}
/* ___________________index.html___________________ */

/* ___________________interactive.html___________________ */
.Q_TestCardImg {
  display: block;
  width: 300rem;
  height: auto;
  border-radius: 25rem;
}

.Q_TagItemImg {
  display: block;
  width: 19rem;
  height: auto;
}

.Q_ArrowIcon {
  display: block;
  width: 30rem;
  height: auto;
}

.Q_ArrowIconSecondary {
  display: block;
  width: 50rem;
  height: auto;
}

/* ___________________test_Exams.html___________________ */
.Q_AnswerIcon {
  display: block;
  width: 27rem;
  height: auto;
}

.Q_MushroomImage {
  display: block;
  width: 350rem;
  height: auto;
  border-radius: 25rem;
  grid-area: card;
}

.Q_WhereToGoImage {
  display: block;
  width: 330rem;
  height: auto;
  border-radius: 25rem;
}

.Q_ForestSetImage {
  display: block;
  width: 220rem;
  height: auto;
  border-radius: 25rem;
}

/* ___________________result_Exams.html___________________ */
.Q_ResultChartImg {
  display: block;
  width: 215rem;
  height: auto;
  grid-area: diagram;
  align-self: start;
}

.Q_CorrectAnswerImage {
  display: block;
  width: 138rem;
  height: auto;
  border-radius: 25rem;
}

.Q_ForestSetAnswerImage {
  display: block;
  width: 155rem;
  height: auto;
  border-radius: 25rem;
  border: 1.7rem solid var(--color-text);
}

/* ___________________calendar.html___________________ */
.Q_CalendarMonthIcon {
  display: block;
  width: 41rem;
  height: auto;
}

.Q_ConditionIcon {
  display: block;
  width: 30rem;
  height: 30rem;
}

.Q_InfoIcon {
  display: block;
  width: 40rem;
  height: 40rem;
}

.Q_CollectImage {
  grid-area: image;
  display: block;
  width: 180rem;
  height: auto;
  border-radius: 25rem;
}

.Q_CollectLink {
  display: block;
  width: 35rem;
  height: auto;
}

.Q_CollectBack {
  display: block;
  width: 50rem;
  height: auto;
}

.Q_CollectModalImage {
  grid-row: 4 / 5;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25rem;
}
