/* Общие стили */
.M_Navigation {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.M_NavigationMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10rem;
}

.M_NavigationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 20rem;
  list-style: none;
  border-radius: 43rem;
  background-color: var(--color-surface);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_NavigationItem--active {
  background-color: var(--color-card-accent);
}

.M_NavigationItem:hover {
  background-color: var(--color-card);
}

.M_NavigationItem--active:hover {
  background-color: var(--color-card-accent);
}

.M_SearchInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  height: 35rem;
  padding: 2.5rem 2.5rem 2.5rem 10rem;
  border-radius: 43rem;
  background-color: var(--color-surface);
}

.M_SearchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 36rem;
  padding-left: 10rem;
  border-radius: 46rem;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: var(--font-weight-regular);
  font-size: 16rem;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.M_SearchResult:hover {
  background-color: var(--color-card);
}

.M_SearchDropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10rem);
  right: 0;
  z-index: 10;
  flex-direction: column;
  width: 232rem;
  min-height: 36rem;
  gap: 5rem;
  padding: 10rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
}

.M_HeroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40rem;
}

.M_TagGroup {
  display: flex;
  align-items: center;
}

.M_TagIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  min-height: 50rem;
  border-radius: 50%;
  border: 1.7rem solid var(--color-text);
  flex: 0 0 50rem;
}

.M_Button {
  background-color: var(--color-button);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_Button:hover {
  background-color: var(--color-text);
}

.M_Footer-Area {
  display: flex;
  flex-direction: column;
  gap: 60rem;
}

.M_Footer-Subscribe {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.M_Footer-Section {
  display: flex;
  gap: 40rem;
}

.M_Footer-Column {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_Footer-List {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.M_InfoTooltip {
  position: absolute;
  top: 20rem;
  right: 20rem;
  border: none;
  background: none;
  cursor: pointer;
}

.M_InfoTooltip:hover .A_InfoTooltipText {
  opacity: 1;
  visibility: visible;
}

/* ___________________index.html___________________ */
.M_HeroInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
}

.M_HomeHeroContent {
  gap: 75rem;
}

.M_CalendarDaylight {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  padding: 20rem 35rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/home-calendar/Q_DaylightGraph.svg");
}

.M_DaylightInfo {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  align-items: center;
  text-align: center;
}

.M_CalendarPassability {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  padding: 20rem 35rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/home-calendar/Q_PassabilityChart.svg");
}

.M_PassabilityBar {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15rem;
  align-items: center;
  text-align: center;
  width: 90rem;
}

.M_PassabilityBar--frost {
  top: 72rem;
}

.M_PassabilityBar--humidity {
  top: 95rem;
}

.M_PassabilityBar--mud {
  top: 35rem;
}

.M_PassabilityBar--slush {
  top: -5rem;
}

.M_CalendarSky {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
  padding: 20rem 35rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/home-calendar/Q_SkyChart.svg");
}

.M_SkyCondition {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25rem;
}

.M_SkyCondition--clear {
  left: 72rem;
}

.M_SkyCondition--cloudy {
  left: 165rem;
}

.M_SkyCondition--rain {
  left: 370rem;
}

.M_CalendarConditions {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  display: flex;
  gap: 10rem;
  padding: 20rem 0rem 15rem 20rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
}

.M_ChecklistCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20rem 20rem 30rem 20rem;
  border-radius: 25rem;
  text-decoration: none;
  background-color: var(--color-surface);
  width: 256rem;
  min-height: 290rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.M_ChecklistCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_ChecklistCard--mushrooms {
  gap: 20rem;
  background-image: url("/src/images/home-calendar/M_ChecklistCard--1.svg");
}

.M_ChecklistCard--ticks {
  padding-top: 30rem;
  gap: 30rem;
  background-image: url("/src/images/home-calendar/M_ChecklistCard--2.svg");
}

.M_ChecklistCard--route {
  padding-top: 30rem;
  align-items: center;
  gap: 30rem;
  background-image: url("/src/images/home-calendar/M_ChecklistCard--3.svg");
}

.M_ChecklistCard--water {
  padding-top: 52rem;
  align-items: center;
  gap: 40rem;
  background-image: url("/src/images/home-calendar/M_ChecklistCard--4.svg");
}

.M_ChecklistCard--preparation {
  padding-top: 47rem;
  align-items: center;
  gap: 23rem;
  background-image: url("/src/images/home-calendar/M_ChecklistCard--5.svg");
}

.M_ChecklistTitle {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem 20rem;
  background-color: var(--color-card-accent);
  border-radius: 15rem;
}

.M_ChecklistTitle--mushrooms {
  position: relative;
  top: 30rem;
}

.M_ArticleCard {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 10rem;
  text-decoration: none;
  border-radius: 25rem;
  width: 325rem;
  min-height: 315rem;
  background-color: var(--color-card);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_ArticleCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_ArticleImage {
  display: flex;
  justify-content: flex-end;
  padding: 10rem;
  border-radius: 25rem;
  min-height: 173rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.M_TagItemCard {
  position: relative;
  top: 10rem;
  align-self: flex-start;
}

.M_ArticleImage--landmarks {
  background-position: start;
  background-image: url("/src/images/articles/Q__ArticleImage--landmarks.webp");
}

.M_ArticleImage--ticks {
  background-position: center;
  background-image: url("/src/images/articles/Q_ArticleImage--ticksVar.webp");
}

.M_ArticleImage--mushroomer {
  background-position: center;
  background-image: url("/src/images/articles/Q_ArticleImage--mushroomer.webp");
}

.M_ArticleImage--backpack {
  background-position: center;
  background-image: url("/src/images/articles/Q_ArticleImage--backpack.webp");
}

.M_ExpertContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 60rem;
}

.M_ContentHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20rem;
  width: 562rem;
}

.M_ContentTegs {
  display: flex;
  gap: 10rem;
}

.M_SkillCard {
  display: flex;
  padding: 10rem;
  gap: 10rem;
  border-radius: 25rem;
  background-color: var(--color-card);
  text-decoration: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_SkillCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_SkillCard--Help {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  flex-direction: column;
}

.M_SkillCard--Things {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.M_SkillCard--ForestExam {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.M_SkillContent {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding: 0 5rem;
}

.M_SkillContent--compact {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  padding: 5rem 0;
}

.M_SkillTegs {
  display: flex;
  justify-content: space-between;
}

.M_SkillTegs--compact {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem;
}

.M_RouteCard {
  display: flex;
  justify-content: space-between;
  padding: 10rem 10rem 10rem 20rem;
  gap: 10rem;
  background-color: var(--color-card);
  border-radius: 25rem;
  width: 440rem;
  min-height: 180rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_RouteCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_RouteContent {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding-top: 23rem;
}

.M_RouteMetric {
  display: flex;
  align-items: center;
  gap: 15rem;
}

.M_MetricValue {
  display: flex;
  flex-direction: column;
}

.M_DzenHeader {
  display: flex;
  align-items: center;
  gap: 50rem;
}

/* ___________________aboutus.html___________________ */
.M_ProjectValueCard {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  padding: 20rem;
  background-color: var(--color-card-accent);
  border-radius: 25rem;
  width: 325rem;
  min-height: 155rem;
}
/* ___________________interactive.html___________________ */
.M_TestCardTags {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.M_TestCardDescription {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_LearnMoreCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  padding-bottom: 20rem;
  gap: 20rem;
  background-color: var(--color-card);
  border-radius: 25rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.M_LearnMoreCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}
/* ___________________main_Exams.html___________________ */
.M_HeroContentTitle {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

/* ___________________test_Exams.html___________________ */

.M_TestProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

.M_AnswerCard {
  display: flex;
  flex-direction: column;
  padding: 20rem;
  padding-right: 45rem;
  gap: 20rem;
  width: 670rem;
  min-height: 133rem;
  background-color: var(--color-card);
  border-radius: 25rem;
  border: none;
  text-align: start;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.M_AnswerCard.is-selected,
.M_AnswerCard.is-selected:hover {
  background-color: var(--color-card-accent);
}

.M_AnswerCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_AnswerCardHeader {
  display: flex;
  align-items: center;
  gap: 15rem;
}

.M_MushroomPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
}

.M_WhereToGoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20rem;
}

.M_MushroomCard {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas: "card";
  width: 350rem;
  min-height: 420rem;
  border: none;
  border-radius: 25rem;
  padding: 0rem;
  background-color: var(--color-card);
  cursor: pointer;
}

.M_MushroomCard::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.7rem solid transparent;
  border-radius: inherit;
  pointer-events: none;
  z-index: 3;
}

.M_MushroomCard.is-selected::after {
  border-color: var(--color-text);
}

.M_MushroomIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 1.7rem solid var(--color-text);
  grid-area: card;
  margin: 20rem;
}

.M_WhereToGoCard {
  position: relative;
  overflow: hidden;
  width: 330rem;
  min-height: 420rem;
  border-radius: 25rem;
  background-color: var(--color-card);
  cursor: pointer;
}
.M_WhereToGoCard::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1.7rem solid transparent;
  border-radius: inherit;
  pointer-events: none;
  z-index: 3;
}

.M_WhereToGoCard.is-selected::after {
  border-color: var(--color-text);
}

.M_ForestSetInfo {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.M_ForestSetCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220rem;
  min-height: 220rem;
  border-radius: 25rem;
  border: 1.7rem solid var(--color-text);
  cursor: pointer;
}

.M_ForestSetCard.is-selected,
.M_ForestSetCard.is-selected:hover {
  background-color: var(--color-card-accent);
  border: none;
}

.M_ForestSetCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_ForestSetTooltip {
  position: absolute;
  top: 10rem;
  right: 10rem;
  border: none;
  background: none;
  cursor: pointer;
}
.M_ForestSetTooltip:hover .A_ForestSetTooltipText {
  opacity: 1;
  visibility: visible;
}
/* ___________________result_Exams.html___________________ */
.M_ResultCard {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  border-radius: 25rem;
  padding: 20rem;
  width: 660rem;
  height: auto;
  background-color: var(--color-card);
}

.M_ResultChart {
  display: grid;
  grid-template-areas: "diagram";
  justify-content: center;
}

.M_ResultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  gap: 5rem;
}

.M_CorrectAnswerCard {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20rem;
  gap: 30rem;
  width: 100%;
  min-height: 180rem;
  background-color: var(--color-card);
  border-radius: 25rem;
}

.M_CorrectAnswerContent {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.M_MushroomAnswerCard {
  position: relative;
  display: flex;
  padding: 10rem;
  gap: 10rem;
  width: 100%;
  min-height: 180rem;
  background-color: var(--color-card);
  border-radius: 25rem;
}

.M_MushroomAnswerContent {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.M_MushroomAnswerIcon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  border: 1.7rem solid var(--color-text);
  right: 10rem;
}

.M_ForestSetAnswerCard {
  display: flex;
  flex-direction: column;
  padding: 20rem 10rem;
  gap: 20rem;
  width: 100%;
  min-height: 260rem;
  background-color: var(--color-card);
  border-radius: 25rem;
}

.M_ForestSetAnswer {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  align-items: center;
}

/* ___________________calendar.html___________________ */
.M_CalendarHeader {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.M_CalendarMonth {
  display: flex;
  align-items: end;
  gap: 15rem;
}

.M_SeasonTabs,
.M_MonthTabs {
  display: flex;
}

.M_ConditionItem {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40rem;
  width: 85rem;
}

.M_ConditionItemIndexCard {
  width: 100%;
}

.M_ConditionResult {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.M_InfoCard {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15rem 20rem;
  border-radius: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.M_ForestIndexCard {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  gap: 40rem;
  background-color: var(--color-card-accent);
}

.M_CurrentConditionsCard {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  gap: 40rem;
  background-color: var(--color-card-accent);
}

.M_TrailComfortCard {
  grid-column: 2 / 5;
  grid-row: 1 / 3;
  display: flex;
  gap: 25rem;
  background-color: var(--color-surface);
}

.M_TrailComfortYAxis {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  justify-content: center;
}

.M_TrailComfortXAxis {
  display: flex;
  align-items: center;
  padding-top: 10rem;
  gap: 90rem;
}

.M_TrailComfortMetric {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.M_DaylightCard {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  gap: 20rem;
  background-color: var(--color-surface);
}

.M_InfoItem {
  display: flex;
  flex-direction: column;
  gap: 25rem;
  align-items: center;
  text-align: center;
}

.M_TemperatureCard {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  gap: 20rem;
  background-color: var(--color-surface);
}

.M_PrecipitationCard {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  gap: 20rem;
  background-color: var(--color-surface);
}

.M_WindCard {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  gap: 20rem;
  background-color: var(--color-surface);
}

.M_PassabilityIndexCard {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  background-color: var(--color-surface);
}

.M_PassabilityItems {
  position: relative;
  display: flex;
  gap: 78rem;
  padding-left: 28rem;
}

.M_FrostItem {
  position: relative;
  top: 55rem;
}

.M_DampnessItem {
  position: relative;
  top: 25rem;
}

.M_MudItem {
  position: relative;
  top: -40rem;
}

.M_SlushItem {
  position: relative;
  top: -20rem;
}

.M_SkyConditionCard {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  background-color: var(--color-surface);
}

.M_SkyConditionItem {
  display: flex;
  align-items: center;
  gap: 25rem;
}

.M_SkyConditionItem--clear {
  padding-left: 75rem;
}

.M_SkyConditionItem--cloudy {
  padding-left: 190rem;
}

.M_SkyConditionItem--rain {
  padding-left: 430rem;
}

.M_NatureActivityCard {
  grid-column: 3 / 5;
  grid-row: 4 / 6;
  gap: 50rem;
  background-color: var(--color-surface);
}

.M_NatureActivityItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55rem;
  width: 105rem;
}

.M_CollectCategory {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  padding: 20rem 15rem;
  width: 670rem;
  min-height: auto;
  border-radius: 25rem;
  background-color: var(--color-surface);
}

.M_CollectCategoryHeader {
  display: flex;
  gap: 15rem;
  align-items: end;
}

.M_CollectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  gap: 10rem;
  width: 200rem;
  min-height: 235rem;
  border-radius: 25rem;
  background-color: var(--color-card-accent);
  transition: background-color 0.2s ease;
  cursor: pointer;
}
.M_CollectCard:hover {
  background-color: rgba(31, 90, 60, 0.7);
}

.M_CollectCardMedia {
  display: grid;
  grid-template-areas: "image";
}
.M_CollectModalStat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

/* ___________________routes.html___________________ */

.M_ForestRouteCard {
  display: flex;
  justify-content: space-between;
  padding: 20rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
  width: 1360rem;
  min-height: 300rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_ForestRouteCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_RouteInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30rem;
  padding-top: 20rem;
  padding-left: 10rem;
}

.M_RoutePreview {
  display: grid;
  grid-template-areas: "image";
}

.M_ForestPathCard {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 15rem;
  background-color: var(--color-card);
  border-radius: 25rem;
  width: 440rem;
  min-height: 417rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_ForestPathCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_RouteHeader {
  display: grid;
  grid-template-areas: "image";
}

.M_RouteLevel {
  position: relative;
  top: 10rem;
  left: 10rem;
  grid-area: image;
  align-self: flex-start;
  justify-self: flex-start;
}

.M_RouteDetails {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  padding-left: 10rem;
}

/* ___________________route.html___________________ */
.M_RouteHeroContent {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: center;
  text-align: center;
  width: 986rem;
}

.M_RouteStops {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  padding: 20rem;
  gap: 15rem;
  border-radius: 25rem;
  background-color: var(--color-card-accent);
}

.M_RouteHighlights {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  padding: 20rem 20rem;
  gap: 20rem;
  border-radius: 25rem;
  background-color: var(--color-card);
}

.M_RouteMapView {
  overflow: hidden;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  border-radius: 25rem;
}

.M_DiscoveryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  gap: 10rem;
  width: 200rem;
  min-height: 235rem;
  border-radius: 25rem;
  background-color: var(--color-card-accent);
}
/* ___________________articles.html___________________ */
.M_HeroContent-articles {
  gap: 20rem;
}

.M_Header-Toolbar {
  display: flex;
  justify-content: space-between;
}

.M_Header-FilterButton {
  display: flex;
  align-items: center;
  gap: 10rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.M_Header-Filter-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  min-height: 40rem;
  border-radius: 50%;
  background-color: var(--color-button);
}

.M_Header-FilterGroup {
  display: none;
  flex-direction: column;
  gap: 15rem;
}

.M_Header-FilterGroup.open {
  display: flex;
}

.M_Header-FilterGroup-Tegs {
  display: flex;
  gap: 10rem;
}

.M_TagItem {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 0 15rem;
  height: 30rem;
  border-radius: 52rem;
  user-select: none;
}

.M_TagItem-filter {
  background-color: rgba(45, 78, 30, 0.3);
  cursor: pointer;
}

.M_TagItem-filter:hover {
  background-color: rgba(45, 78, 30, 0.6);
  cursor: pointer;
}

.M_TagItem-filter.active {
  background-color: var(--color-tag);
}

.M_Articles-ticks.visible {
  background-image: url("/src/images/articles/article_ticks.webp");
}
.M_Articles-storm.visible {
  background-image: url("/src/images/articles/article_storm.webp");
}
.M_Articles-compass.visible {
  background-image: url("/src/images/articles/article_compass.webp");
}
.M_Articles-trail.visible {
  background-image: url("/src/images/articles/article_trail.webp");
}
.M_Articles-backpack.visible {
  background-image: url("/src/images/articles/article_backpack.webp");
}
.M_Articles-clothing.visible {
  background-image: url("/src/images/articles/article_clothing.webp");
}
.M_Articles-bonfire.visible {
  background-image: url("/src/images/articles/article_bonfire.webp");
}
.M_Articles-tea.visible {
  background-image: url("/src/images/articles/article_tea.webp");
}
.M_Articles-seasons.visible {
  background-image: url("/src/images/articles/article_seasons.webp");
}
.M_Articles-biotopes.visible {
  background-image: url("/src/images/articles/article_biotopes.webp");
}
.M_Articles-boletus.visible {
  background-image: url("/src/images/articles/article_boletus.webp");
}
.M_Articles-fox.visible {
  background-image: url("/src/images/articles/article_fox.webp");
}

.M_TagItem--active {
  background-color: var(--color-tag);
}

.M_Articles-CardContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.M_Articles-CardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.M_Download-Button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  border: none;
  gap: 10rem;
  background-color: var(--color-button);
  text-decoration: none;
}

.M_Button-more {
  align-self: center;
  width: 267rem;
  min-height: 50rem;
  border: none;
  border-radius: 71rem;
}

/* ___________________article_name.html___________________ */

.M_Main_Article-Header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35rem;
}

.M_Main_Article-Header-tegs {
  display: flex;
  gap: 10rem;
}

.M_Article-Info {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.M_State-Body {
  position: relative;
  left: -5rem;
  padding-top: 125rem;
}
.M_State-Winter {
  position: relative;
  left: 10rem;
  padding-top: 100rem;
}
.M_State-BodyVarImg {
  padding-left: 55rem;
  padding-top: 45rem;
}
.M_State-FlowerSheets {
  position: relative;
  left: 5rem;
  padding-top: 110rem;
}
.M_State-Grass {
  position: relative;
  left: -50rem;
  padding-top: 85rem;
}

.M_State-Ear {
  padding-top: 95rem;
  padding-left: 40rem;
}
.M_State-Autumn {
  padding-top: 70rem;
  padding-left: 95rem;
}
.M_State-Iphone {
  padding-top: 80rem;
  padding-left: 80rem;
}
.M_State-Bear {
  padding-top: 80rem;
  padding-left: 45rem;
}
.M_State-TreeVar {
  padding-top: 55rem;
  padding-right: 30rem;
}
.M_State-Hand {
  padding-top: 58rem;
  padding-left: 40rem;
}
.M_State-Spring {
  padding-top: 40rem;
  padding-left: 80rem;
}
.M_State-Flower {
  padding-top: 43rem;
  padding-right: 10rem;
}
.M_State-Sun {
  padding-top: 10rem;
  padding-right: 45rem;
}
.M_State-Leg {
  padding-top: 20rem;
  padding-left: 40rem;
}
.M_State-SunVar {
  position: relative;
  padding-top: 0rem;
  left: 85rem;
}
.M_State-Mite {
  padding-top: 20rem;
  padding-left: 55rem;
}

.M_State-BodyVar {
  padding-top: 17rem;
  padding-right: 52rem;
}

.M_State-Forest {
  position: relative;
  top: -5rem;
  padding-right: 7rem;
}

.M_State-Knee {
  padding-top: 10rem;
  padding-left: 40rem;
}
.M_State-FirstAidKit {
  padding-top: 10rem;
  padding-left: 30rem;
}
.M_State-DirectionVar {
  padding-top: 10rem;
  padding-right: 15rem;
}

.M_Article-Info-img {
  display: flex;
  gap: 30rem;
}

.M_Article-Info-img-Small {
  display: block;
  width: 280rem;
  min-height: auto;
}
.M_Article-Info-img-Small-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300rem;
  min-height: 250rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15rem;
}

.M_Article-Info-img-Small-bg-trail {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-trail.webp");
}

.M_Article-Info-img-Small-bg-sun {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-sun.webp");
}

.M_Article-Info-img-Small-bg-relief {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-relief.webp");
}
.M_Article-Info-img-Small-bg-wind {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-wind.webp");
}
.M_Article-Info-img-Small-bg-firewood {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-firewood.webp");
}
.M_Article-Info-img-Small-bg-heat {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-heat.webp");
}
.M_Article-Info-img-Small-bg-Mush {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-Mush.webp");
}
.M_Article-Info-img-Small-bg-cap {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-cap.webp");
}
.M_Article-Info-img-Small-bg-MushVar {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-MushVar.webp");
}
.M_Article-Info-img-Large {
  display: block;
  width: 570rem;
  min-height: auto;
}

.M_Article-Info-Steps {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.M_Article-Info-Step {
  display: flex;
  flex-direction: column;
  padding: 20rem 17rem 20rem 20rem;
  gap: 30rem;
  width: 284rem;
  min-height: auto;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.M_Article-Info-Content {
  display: flex;
  gap: 30rem;
}

.M_Article-Info-Steps-Title {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.M_List {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 30rem 20rem;
  width: 900rem;
  min-height: 426rem;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.M_List_Content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_List_Content-Title {
  display: flex;
  gap: 15rem;
}

.M_Article-Important {
  display: flex;
  gap: 30rem;
  padding: 30rem 40rem;
  width: 900rem;
  min-height: auto;
  border-radius: 15rem;
  background-color: var(--color-card-accent);
}

.M_Article-storm-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-storm-tegs.webp");
}

.M_Article-biotopes-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-biotopes-tegs.webp");
}

.M_Article-clothing-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-clothing-tegs.webp");
}

.M_Article-Info-Stat-Card {
  display: flex;
  flex-direction: column;
  padding-top: 70rem;
  width: 202rem;
  min-height: 281rem;
  border-radius: 15rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.M_Article-Info-Stat-Card-Forest {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Forest.webp");
}

.M_Article-Info-Stat-Card-Ravine {
  padding-top: 80rem;
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Ravine.webp");
}

.M_Article-Info-Stat-Card-Mountain {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Mountain.webp");
}

.M_Article-Info-Stat-Card-Grass {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Gras.webp");
}

.M_Article-Info-Stat-Card-Dampness {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Dampness.webp");
}

.M_Article-Info-Stat-Card-RavineVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-RavineVar.webp");
}

.M_Article-Info-Stat-Card-ForestVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-ForestVar.webp");
}

.M_Article-Info-Stat-Card-GrassVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-GrassVar.webp");
}

.M_Article-Info-Stat-Cards {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
