/* Общие стили */
.M_Navigation {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.M_NavigationMenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10rem;
}

.M_NavigationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8rem 20rem;
  list-style: none;
  border-radius: 43rem;
  background-color: var(--color-surface);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_NavigationItem--active {
  background-color: var(--color-card-accent);
}

.M_NavigationItem:hover {
  background-color: var(--color-card);
}

.M_NavigationItem--active:hover {
  background-color: var(--color-card-accent);
}

.M_SearchInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  height: 35rem;
  padding: 2.5rem 2.5rem 2.5rem 10rem;
  border-radius: 43rem;
  background-color: var(--color-surface);
}

.M_SearchResult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 36rem;
  padding-left: 10rem;
  border-radius: 46rem;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: var(--font-weight-regular);
  font-size: 16rem;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.M_SearchResult:hover {
  background-color: var(--color-card);
}

.M_SearchDropdown {
  display: none;
  position: absolute;
  top: calc(100% + 10rem);
  right: 0;
  z-index: 10;
  flex-direction: column;
  width: 232rem;
  min-height: 36rem;
  gap: 5rem;
  padding: 10rem;
  background-color: var(--color-surface);
  border-radius: 25rem;
}

.M_HeroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40rem;
}

.M_TagGroup {
  display: flex;
  align-items: center;
}

.M_TagIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  min-height: 50rem;
  border-radius: 50%;
  border: 1.5rem solid var(--color-text);
  flex: 0 0 50rem;
}

.M_Button {
  background-color: var(--color-button);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.M_Button:hover {
  background-color: var(--color-text);
}

.M_Footer-Area {
  display: flex;
  flex-direction: column;
  gap: 60rem;
}

.M_Footer-Subscribe {
  display: flex;
  flex-direction: column;
  gap: 30rem;
}

.M_Footer-Section {
  display: flex;
  gap: 40rem;
}

.M_Footer-Column {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_Footer-List {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ___________________interactive.html___________________ */
.M_TestCardTags {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.M_TestCardDescription {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_LearnMoreCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
  padding-bottom: 20rem;
  gap: 20rem;
  background-color: var(--color-card);
  border-radius: 25rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.M_LearnMoreCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}
/* ___________________main_Exams.html___________________ */
.M_HeroContentTitle {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

/* ___________________test_Exams.html___________________ */

.M_TestProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

.M_AnswerCard {
  display: flex;
  flex-direction: column;
  padding: 20rem;
  padding-right: 45rem;
  gap: 20rem;
  width: 670rem;
  min-height: 133rem;
  background-color: var(--color-card);
  border-radius: 25rem;
  border: none;
  text-align: start;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.M_AnswerCard.is-selected,
.M_AnswerCard.is-selected:hover {
  background-color: var(--color-card-accent);
}

.M_AnswerCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.M_AnswerCardHeader {
  display: flex;
  align-items: center;
  gap: 15rem;
}

/* ___________________result_Exams.html___________________ */
.M_ResultCard {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  border-radius: 25rem;
  padding: 20rem;
  width: 660rem;
  height: auto;
  background-color: var(--color-card);
}

.M_ResultChart {
  display: grid;
  grid-template-areas: "diagram";
  justify-content: center;
}

.M_ResultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  gap: 5rem;
}

.M_CorrectAnswerCard {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20rem;
  gap: 30rem;
  width: 100%;
  min-height: 180rem;
  background-color: var(--color-card);
  border-radius: 15rem;
}

.M_CorrectAnswerContent {
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

/* ___________________index.html___________________ */
.M_State {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.M_State-Sunset {
  padding-left: 600rem;
}

.M_Passability-Index {
  align-self: flex-start;
  display: flex;
  gap: 40rem;
}

.M_StateVar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.M_State-Permafrost {
  padding-left: 25rem;
  padding-top: 60rem;
}
.M_State-Dampness-Main {
  padding-left: 10rem;
  padding-top: 80rem;
}
.M_State-Dampness {
  padding-left: 25rem;
  padding-top: 125rem;
}
.M_State-DampnessVar {
  padding-left: 10rem;
  padding-top: 80rem;
}
.M_State-Slush {
  padding-left: 18rem;
  padding-top: 25rem;
}

.M_State-Dirt {
  position: relative;
  padding-left: 30rem;
  margin: -12rem;
}

.M_StateSky {
  display: flex;
  padding-top: 15rem;
  padding-left: 10rem;
  align-items: center;
  gap: 27rem;
}

.M_StateCloudy {
  display: flex;
  padding-top: 22rem;
  padding-left: 65rem;
  align-items: center;
  gap: 27rem;
}

.M_ForestSky-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.M_StateAutumn {
  display: flex;
  padding-top: 24rem;
  padding-left: 212rem;
  align-items: center;
  gap: 27rem;
}

.M_State-Other {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.M_Card-CheckList-biotopes {
  display: flex;
  align-items: center;
  padding-top: 160rem;
  gap: 30rem;
  min-height: 263rem;
  width: 263rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-biotopes.webp");
}

.M_Card-CheckList-biotopes:hover {
  background-image: url("/src/images/Q_Card-CheckList-biotopes-hover.webp");
}

.M_Card-CheckList-trail {
  display: flex;
  align-items: center;
  padding-top: 32rem;
  gap: 145rem;
  min-height: 263rem;
  width: 207rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-trail.webp");
}

.M_Card-CheckList-trail:hover {
  background-image: url("/src/images/Q_Card-CheckList-trail-hover.webp");
}

.M_Card-CheckList-seasons {
  display: flex;
  align-items: center;
  padding-top: 160rem;
  gap: 30rem;
  min-height: 263rem;
  width: 263rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-seasons.webp");
}

.M_Card-CheckList-seasons:hover {
  background-image: url("/src/images/Q_Card-CheckList-seasons-hover.webp");
}

.M_Card-CheckList-compass {
  display: flex;
  align-items: center;
  padding-top: 35rem;
  padding-left: 40rem;
  gap: 145rem;
  min-height: 263rem;
  width: 258rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-compass.webp");
}

.M_Card-CheckList-compass:hover {
  background-image: url("/src/images/Q_Card-CheckList-compass-hover.webp");
}

.M_Card-CheckList-ticks {
  display: flex;
  align-items: center;
  padding-top: 32rem;
  gap: 145rem;
  min-height: 263rem;
  width: 207rem;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Card-CheckList-ticks.webp");
}

.M_Card-CheckList-ticks:hover {
  background-image: url("/src/images/Q_Card-CheckList-ticks-hover.webp");
}

.M_Section-MainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.M_Articles-CardList {
  display: flex;
  justify-content: end;
  padding: 10rem;
  width: 297rem;
  min-height: 173rem;
  border-radius: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: none;
}

.M_Articles-CardLis-storm {
  background-image: url("/src/images/articles/article_storm.webp");
}

.M_Articles-CardLis-boletus {
  background-image: url("/src/images/articles/article_boletus.webp");
}

.M_Articles-CardLis-fox {
  background-image: url("/src/images/articles/article_fox.webp");
}

.M_Articles-CardLis-bonfire {
  background-image: url("/src/images/articles/article_bonfire.webp");
}

.M_Section_Dzen-Content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}

.M_Articles-CardMedia-Anxiety.visible {
  background-image: url("/src/images/Q_Articles-CardMedia-Anxiety.webp");
}

.M_Articles-CardMedia-Routes.visible {
  background-image: url("/src/images/Q_Articles-CardMedia-Routes.webp");
}

.M_Articles-CardMedia-Atmosphere.visible {
  background-image: url("/src/images/Q_Articles-CardMedia-Atmosphere.webp");
}

.M_burger-icon {
  display: none;
}
/* ___________________404.html___________________ */
.M_HeroContent-NotFound {
  gap: 0;
}
.M_TagGroup-NotFound {
  padding-top: 0;
}
/* ___________________articles.html___________________ */
.M_HeroContent-articles {
  gap: 20rem;
}

.M_Header-Toolbar {
  display: flex;
  justify-content: space-between;
}

.M_Header-FilterButton {
  display: flex;
  align-items: center;
  gap: 10rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.M_Header-Filter-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  min-height: 40rem;
  border-radius: 50%;
  background-color: var(--color-button);
}

.M_Header-FilterGroup {
  display: none;
  flex-direction: column;
  gap: 15rem;
}

.M_Header-FilterGroup.open {
  display: flex;
}

.M_Header-FilterGroup-Tegs {
  display: flex;
  gap: 10rem;
}

.M_TagItem {
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 0 15rem;
  height: 30rem;
  border-radius: 52rem;
  user-select: none;
}

.M_TagItem-filter {
  background-color: rgba(45, 78, 30, 0.3);
  cursor: pointer;
}

.M_TagItem-filter:hover {
  background-color: rgba(45, 78, 30, 0.6);
  cursor: pointer;
}

.M_TagItem-filter.active {
  background-color: var(--color-tag);
}

.M_Articles-ticks.visible {
  background-image: url("/src/images/articles/article_ticks.webp");
}
.M_Articles-storm.visible {
  background-image: url("/src/images/articles/article_storm.webp");
}
.M_Articles-compass.visible {
  background-image: url("/src/images/articles/article_compass.webp");
}
.M_Articles-trail.visible {
  background-image: url("/src/images/articles/article_trail.webp");
}
.M_Articles-backpack.visible {
  background-image: url("/src/images/articles/article_backpack.webp");
}
.M_Articles-clothing.visible {
  background-image: url("/src/images/articles/article_clothing.webp");
}
.M_Articles-bonfire.visible {
  background-image: url("/src/images/articles/article_bonfire.webp");
}
.M_Articles-tea.visible {
  background-image: url("/src/images/articles/article_tea.webp");
}
.M_Articles-seasons.visible {
  background-image: url("/src/images/articles/article_seasons.webp");
}
.M_Articles-biotopes.visible {
  background-image: url("/src/images/articles/article_biotopes.webp");
}
.M_Articles-boletus.visible {
  background-image: url("/src/images/articles/article_boletus.webp");
}
.M_Articles-fox.visible {
  background-image: url("/src/images/articles/article_fox.webp");
}

.M_TagItem--active {
  background-color: var(--color-tag);
}

.M_Articles-CardContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.M_Articles-CardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.M_Download-Button {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  border: none;
  gap: 10rem;
  background-color: var(--color-button);
  text-decoration: none;
}

.M_Button-more {
  align-self: center;
  width: 267rem;
  min-height: 50rem;
  border: none;
  border-radius: 71rem;
}

/* ___________________article_name.html___________________ */

.M_Main_Article-Header {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35rem;
}

.M_Main_Article-Header-tegs {
  display: flex;
  gap: 10rem;
}

.M_Article-Info {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.M_State-Body {
  position: relative;
  left: -5rem;
  padding-top: 125rem;
}
.M_State-Winter {
  position: relative;
  left: 10rem;
  padding-top: 100rem;
}
.M_State-BodyVarImg {
  padding-left: 55rem;
  padding-top: 45rem;
}
.M_State-FlowerSheets {
  position: relative;
  left: 5rem;
  padding-top: 110rem;
}
.M_State-Grass {
  position: relative;
  left: -50rem;
  padding-top: 85rem;
}

.M_State-Ear {
  padding-top: 95rem;
  padding-left: 40rem;
}
.M_State-Autumn {
  padding-top: 70rem;
  padding-left: 95rem;
}
.M_State-Iphone {
  padding-top: 80rem;
  padding-left: 80rem;
}
.M_State-Bear {
  padding-top: 80rem;
  padding-left: 45rem;
}
.M_State-TreeVar {
  padding-top: 55rem;
  padding-right: 30rem;
}
.M_State-Hand {
  padding-top: 58rem;
  padding-left: 40rem;
}
.M_State-Spring {
  padding-top: 40rem;
  padding-left: 80rem;
}
.M_State-Flower {
  padding-top: 43rem;
  padding-right: 10rem;
}
.M_State-Sun {
  padding-top: 10rem;
  padding-right: 45rem;
}
.M_State-Leg {
  padding-top: 20rem;
  padding-left: 40rem;
}
.M_State-SunVar {
  position: relative;
  padding-top: 0rem;
  left: 85rem;
}
.M_State-Mite {
  padding-top: 20rem;
  padding-left: 55rem;
}

.M_State-BodyVar {
  padding-top: 17rem;
  padding-right: 52rem;
}

.M_State-Forest {
  position: relative;
  top: -5rem;
  padding-right: 7rem;
}

.M_State-Knee {
  padding-top: 10rem;
  padding-left: 40rem;
}
.M_State-FirstAidKit {
  padding-top: 10rem;
  padding-left: 30rem;
}
.M_State-DirectionVar {
  padding-top: 10rem;
  padding-right: 15rem;
}

.M_Article-Info-img {
  display: flex;
  gap: 30rem;
}

.M_Article-Info-img-Small {
  display: block;
  width: 280rem;
  min-height: auto;
}
.M_Article-Info-img-Small-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300rem;
  min-height: 250rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15rem;
}

.M_Article-Info-img-Small-bg-trail {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-trail.webp");
}

.M_Article-Info-img-Small-bg-sun {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-sun.webp");
}

.M_Article-Info-img-Small-bg-relief {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-relief.webp");
}
.M_Article-Info-img-Small-bg-wind {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-wind.webp");
}
.M_Article-Info-img-Small-bg-firewood {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-firewood.webp");
}
.M_Article-Info-img-Small-bg-heat {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-heat.webp");
}
.M_Article-Info-img-Small-bg-Mush {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-Mush.webp");
}
.M_Article-Info-img-Small-bg-cap {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-cap.webp");
}
.M_Article-Info-img-Small-bg-MushVar {
  background-image: url("../../images/articles/M_Article-Info-img-Small-bg-MushVar.webp");
}
.M_Article-Info-img-Large {
  display: block;
  width: 570rem;
  min-height: auto;
}

.M_Article-Info-Steps {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.M_Article-Info-Step {
  display: flex;
  flex-direction: column;
  padding: 20rem 17rem 20rem 20rem;
  gap: 30rem;
  width: 284rem;
  min-height: auto;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.M_Article-Info-Content {
  display: flex;
  gap: 30rem;
}

.M_Article-Info-Steps-Title {
  display: flex;
  align-items: center;
  gap: 12rem;
}

.M_List {
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 30rem 20rem;
  width: 900rem;
  min-height: 426rem;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.M_List_Content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.M_List_Content-Title {
  display: flex;
  gap: 15rem;
}

.M_Article-Important {
  display: flex;
  gap: 30rem;
  padding: 30rem 40rem;
  width: 900rem;
  min-height: auto;
  border-radius: 15rem;
  background-color: var(--color-card-accent);
}

.M_Article-storm-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-storm-tegs.webp");
}

.M_Article-biotopes-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-biotopes-tegs.webp");
}

.M_Article-clothing-tegs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15rem;
  width: 900rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/M_Article-clothing-tegs.webp");
}

.M_Article-Info-Stat-Card {
  display: flex;
  flex-direction: column;
  padding-top: 70rem;
  width: 202rem;
  min-height: 281rem;
  border-radius: 15rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.M_Article-Info-Stat-Card-Forest {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Forest.webp");
}

.M_Article-Info-Stat-Card-Ravine {
  padding-top: 80rem;
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Ravine.webp");
}

.M_Article-Info-Stat-Card-Mountain {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Mountain.webp");
}

.M_Article-Info-Stat-Card-Grass {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Gras.webp");
}

.M_Article-Info-Stat-Card-Dampness {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-Dampness.webp");
}

.M_Article-Info-Stat-Card-RavineVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-RavineVar.webp");
}

.M_Article-Info-Stat-Card-ForestVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-ForestVar.webp");
}

.M_Article-Info-Stat-Card-GrassVar {
  background-image: url("/src/images/articles/M_Article-Info-Stat-Card-GrassVar.webp");
}

.M_Article-Info-Stat-Cards {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}
