/* Общие стили */
.O_Header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40rem;
}

.O_Footer {
  display: flex;
  justify-content: space-between;
  padding: 40rem;
  width: 100%;
  min-height: 305rem;
  background-color: var(--color-surface);
}

/* ___________________interactive.html___________________ */
.O_HeaderInteractive {
  gap: 180rem;
  background-image: url("/src/images/interactive-bg.webp");
  min-height: 625rem;
}

.O_SectionTests {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40rem;
  gap: 20rem;
}

.O_TestCard {
  display: flex;
  gap: 10rem;
  padding: 10rem;
  width: 670rem;
  min-height: 210rem;
  border-radius: 25rem;
  background-color: var(--color-card);
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.O_TestCard:hover {
  background-color: rgba(19, 53, 36, 0.7);
}

.O_TestBanner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50rem;
  padding-top: 70rem;
  width: 100%;
  min-height: 425rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-surface);
  text-decoration: none;
}
.O_TestMushrooms {
  background-image: url("/src/images/Q_TestMushrooms.webp");
}
.O_TestWhatToTake {
  background-image: url("/src/images/Q_TestWhatToTake.webp");
}
.O_TestWhereToGo {
  background-image: url("/src/images/Q_TestWhereToGo.webp");
}
.O_TestMushrooms h2 {
  padding-top: 10rem;
}

.O_LearnMore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60rem;
}

/* ___________________main_Exams.html___________________ */
.O_HeaderForestExam {
  gap: 250rem;
  background-image: url("../../images/Q_ForestExamBG.webp");
  min-height: 100vh;
}

.O_HeaderHelp {
  gap: 250rem;
  background-image: url("../../images/Q_HelpBG.webp");
  min-height: 100vh;
}

.O_CalmMovement {
  gap: 250rem;
  background-image: url("../../images/Q_CalmMovementBG.webp");
  min-height: 100vh;
}

.O_HeaderRoute {
  gap: 250rem;
  background-image: url("../../images/Q_RouteBG.webp");
  min-height: 100vh;
}

.O_HeaderWhatToTake {
  gap: 250rem;
  background-image: url("../../images/Q_WhatToTakeBG.webp");
  min-height: 100vh;
}

.O_HeaderObservation {
  gap: 250rem;
  background-image: url("../../images/Q_ObservationBG.webp");
  min-height: 100vh;
}

/* ___________________test_Exams.html___________________ */

.O_TestPage {
  display: flex;
  flex-direction: column;
  padding: 100rem 40rem;
  align-items: center;
  text-align: center;
  gap: 100rem;
}

.O_TestContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40rem;
}

/* ___________________result_Exams.html___________________ */
.O_ResultSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40rem;
}

.O_CorrectAnswers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30rem;
}

/* ___________________index.html___________________ */
.O_HeaderMain {
  gap: 190rem;
  background-image: url("/src/images/hero-bg.webp");
  min-height: 807rem;
}

.O_Calendar {
  display: flex;
  flex-direction: column;
  gap: 70rem;
  align-items: center;
}

.O_CalendarState {
  display: grid;
  grid-template-columns: 536rem 431rem 353rem;
  grid-template-rows: 136rem 264rem;
  gap: 20rem;
}

.O_Daylight {
  display: flex;
  padding: 25rem 35rem;
  gap: 130rem;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  border-radius: 15rem;
  background-color: var(--color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Daylight.webp");
}

.O_ForestState {
  display: flex;
  flex-direction: column;
  padding: 25rem 35rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 15rem;
  background-color: var(--color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestStats.webp");
}

.O_ForestSky {
  display: flex;
  flex-direction: column;
  padding: 25rem 35rem;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-radius: 15rem;
  background-color: var(--color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestSky.webp");
}
.O_ForestOther {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  gap: 20rem;
}

.O_ForestState-Other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15rem;
  min-height: 194rem;
  padding: 20rem 25rem;
  background-color: var(--color-surface);
}

.O_Section-Checklist-Cards {
  display: flex;
  gap: 30rem;
}

.O_Section-MainArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70rem;
  width: 1360rem;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Section-MainArticle.webp");
}

.O_Section-ArticlesList {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  align-items: center;
}

.O_Section-TestsList {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  align-items: center;
}

.O_ArticlesList {
  display: flex;
  gap: 30rem;
}

.O_Articles-CardList {
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 10rem;
  width: 317rem;
  border-radius: 15rem;
  background-color: var(--color-card);
}

.O_Section-TestsList_Cards {
  display: grid;
  grid-template-columns: repeat(2, 665rem);
  grid-template-rows: repeat(2, 180rem);
  gap: 30rem;
}

.O_Section_Dzen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 500rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_Section-Dzen.webp");
}

.O_InWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120rem 40rem;
  gap: 40rem;
}

/* ___________________404.html___________________ */
.O_Header-NotFound {
  gap: 180rem;
  background-image: url("/src/images/404-bg.webp");
  min-height: 100vh;
}

/* ___________________articles.html___________________ */
.O_Header-articles {
  gap: 200rem;
  background-image: url("/src/images/articles-bg.webp");
  min-height: 695rem;
}

.O_Section-Checklist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40rem;
}

.O_Section-Articles {
  display: flex;
  flex-direction: column;
  gap: 40rem;
}

.O_Header-Articles {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

.O_Articles-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30rem;
}

.O_Articles-Card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  gap: 10rem;
  width: 434rem;
  border-radius: 15rem;
  background-color: var(--color-card);
}

/* ___________________main_test_mushroom.html___________________ */
.O_Header-calendar {
  gap: 200rem;
  background-image: url("/src/images/calendar-bg.png");
  min-height: 695rem;
}
.O_ForestConditions {
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.O_ForestConditions-Month {
  display: grid;
  grid-template-columns: 360rem 980rem;
  grid-template-rows: repeat(2, 230rem);
  gap: 20rem;
}
.O_ForestTrendChart {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 30rem;
  padding: 15rem 20rem;
  border-radius: 15rem;
  background-color: var(--color-card-accent);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestTrendChart-img.webp");
}
.O_ForestStatCards {
  display: flex;
  gap: 20rem;
}
.O_ForestStatOther {
  display: grid;
  grid-template-columns: repeat(2, 670rem);
  grid-template-rows: repeat(2, 260rem);
  gap: 20rem;
}
.O_ForestState-Calendar {
  display: flex;
  flex-direction: column;
  padding: 15rem 20rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 15rem;
  background-color: var(--color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestState-Calendar.webp");
}
.O_ForestSky-Calendar {
  display: flex;
  flex-direction: column;
  padding: 15rem 20rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border-radius: 15rem;
  background-color: var(--color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestSky-Calendar.webp");
}
.O_ForestActivity {
  display: flex;
  flex-direction: column;
  padding: 15rem 20rem;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  border-radius: 15rem;
  background-color: var(--color-surface);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestActivity.webp");
}
.O_ForestRisks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 170rem 230rem;
  gap: 40rem;
  width: 100%;
  min-height: 650rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/Q_ForestRisks-img.webp");
}

.O_ForestProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120rem 40rem;
  gap: 40rem;
}
.O_ForestProducts-List {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  row-gap: 60rem;
  column-gap: 30rem;
}
.O_Section-Checklist-Calendar {
  padding-bottom: 120rem;
}

/* ___________________article_name.html___________________ */
.O_Header_Article {
  gap: 200rem;
  min-height: 350rem;
}

.O_Header_Article-ticks {
  background-image: url("/src/images/articles/Q-article_ticks-bg.webp");
}

.O_Header_Article-storm {
  background-image: url("/src/images/articles/Q-article_storm-bg.webp");
}

.O_Header_Article-compass {
  background-image: url("/src/images/articles/Q-article_compass-bg.webp");
}
.O_Header_Article-trail {
  background-image: url("/src/images/articles/Q-article_trail-bg.webp");
}
.O_Header_Article-backback {
  background-image: url("/src/images/articles/Q-article_backpack-bg.webp");
}
.O_Header_Article-clothing {
  background-image: url("/src/images/articles/Q-article_clothing-bg.webp");
}
.O_Header_Article-fire {
  background-image: url("/src/images/articles/Q-article_fire-bg.webp");
}
.O_Header_Article-tea {
  background-image: url("/src/images/articles/Q-article_tea-bg.webp");
}
.O_Header_Article-Seasons {
  background-image: url("/src/images/articles/Q-article_seasons-bg.webp");
}
.O_Header_Article-biotopes {
  background-image: url("/src/images/articles/Q-article_biotopes-bg.webp");
}
.O_Header_Article-borovik {
  background-image: url("/src/images/articles/Q-article_borovik-bg.webp");
}
.O_Header_Article-fox {
  background-image: url("/src/images/articles/Q-article_fox-bg.webp");
}

.O_Main_Article {
  display: flex;
  flex-direction: column;
  gap: 80rem;
  padding: 80rem 270rem 120rem;
}

.O_Article-Content {
  display: flex;
  flex-direction: column;
  gap: 80rem;
}

.O_Article-Stats-Block {
  display: flex;
  padding: 15rem 35rem;
  border-radius: 15rem;
  min-height: 264rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/Q_Article-Stats-Block.webp");
}
.O_Article-Stats-BlockVar {
  display: flex;
  padding: 15rem 35rem;
  border-radius: 15rem;
  min-height: 264rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/articles/Q_Article-Stats-BlockVar.webp");
}
