/* Общие стили */
.W_Search {
  display: none;
  position: relative;
}

.W_Search.is-open {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

/* ___________________interactive.html___________________ */
.W_TestCardContent {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  width: 100%;
}

.W_LearnMoreCards {
  display: flex;
  gap: 20rem;
}

.W_ArticleImage {
  display: flex;
  justify-content: center;
  padding: 10rem;
  width: 240rem;
  min-height: 146rem;
  border-radius: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/stub.png");
}

/* ___________________test_Exams.html___________________ */

.W_AnswerCards {
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
}
