/* Общие стили */
.W_Search {
  display: none;
  position: relative;
}

.W_Search.is-open {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

/* ___________________interactive.html___________________ */
.W_TestCardContent {
  display: flex;
  flex-direction: column;
  gap: 40rem;
  width: 100%;
}

.W_LearnMoreCards {
  display: flex;
  gap: 20rem;
}

.W_ArticleImage {
  display: flex;
  justify-content: center;
  padding: 10rem;
  width: 240rem;
  min-height: 146rem;
  border-radius: 25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/images/stub.png");
}

/* ___________________test_Exams.html___________________ */

.W_AnswerCards {
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
}

.W_MushroomCards {
  display: flex;
  gap: 30rem;
}

.W_WhereToGoCards {
  display: flex;
  gap: 20rem;
}

.W_ForestSetContent {
  display: flex;
  flex-direction: column;
  gap: 80rem;
  width: 440rem;
}

.W_ForestSetCards {
  display: flex;
  flex-wrap: wrap;
  gap: 30rem;
  width: 480rem;
}

/* ___________________result_Exams.html___________________ */
.W_ForestSetAnswerHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
}

.W_ForestSetAnswerList {
  display: flex;
  gap: 10rem;
}

/* ___________________calendar.html___________________ */
.W_CalendarFilters {
  display: flex;
  justify-content: space-between;
}

.W_CalendarDashboardGrid {
  display: grid;
  grid-template-columns: repeat(4, 325rem);
  grid-template-rows: 230rem 230rem 204rem 260rem 260rem;
  gap: 20rem;
}

.W_CurrentConditionsItems {
  display: flex;
  gap: 15rem;
}

.W_TrailComfortLevels {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 57rem;
  width: 80rem;
}

.W_TrailComfortData {
  display: flex;
  justify-content: space-between;
  padding-left: 210rem;
  width: 815rem;
}

.W_TrailComfortMetrics {
  display: flex;
  gap: 135rem;
  padding-left: 70rem;
  padding-top: 40rem;
  text-align: center;
}

.W_InfoItems {
  display: flex;
  justify-content: center;
  gap: 60rem;
}

.W_SkyConditionItems {
  display: flex;
  flex-direction: column;
  gap: 22rem;
  padding-top: 14rem;
}

.W_NatureActivityItems {
  display: flex;
  flex-wrap: wrap;
  gap: 50rem;
  row-gap: 100rem;
  padding-top: 20rem;
  padding-left: 30rem;
}

.W_CollectGroups {
  display: flex;
  gap: 20rem;
  flex-wrap: wrap;
}

.W_CollectCards {
  display: flex;
  gap: 20rem;
}

.W_CollectModalOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 20, 12, 0.3);
  backdrop-filter: blur(12rem);
}

.W_CollectModalStats {
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-between;
  padding: 10rem 60rem;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: var(--color-card-accent);
  border-radius: 25rem;
}
