/* 1. BASE (reset, body, html) */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}

input[type="email"] {
  width: 400rem;
  height: 50rem;
  padding: 8rem 25rem;
  border-radius: 64rem;
  border: 1.2rem solid var(--color-text);
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  outline: none;
  font-size: 18rem;
  transition: background-color 0.2s ease;
}

input[type="email"]:hover {
  background-color: var(--color-card);
}

input[type="email"]::placeholder {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  font-size: 18rem;
}
#my-form {
  display: flex;
  gap: 10rem;
}
#my-form-button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50rem;
  min-height: 50rem;
  border-radius: 50%;
  border: 1.2rem solid var(--color-text);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
#my-form-button:hover {
  background-color: var(--color-card);
}

#my-form-status {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  font-size: 18rem;
  text-align: center;
  background-color: transparent;
}
